<div class="login-background">
  <div class="login-container">
    <mat-card class="login-card">
      <h2 class="welcome-back">Reset Password</h2>
      <p class="enter-details">Enter your new password below</p>
      
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>New Password</mat-label>
          <input matInput type="password" placeholder="Enter new password" formControlName="newPassword" />
          <mat-error *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched">
            Password is required and must meet complexity requirements.
          </mat-error>
        </mat-form-field>

        <div class="validation-messages">
          <div [ngClass]="{'valid': passwordHasLowercase, 'invalid': !passwordHasLowercase}">
            <mat-icon *ngIf="passwordHasLowercase">check</mat-icon>
            <mat-icon *ngIf="!passwordHasLowercase">close</mat-icon>
            Must contain at least one lowercase letter.
          </div>
          <div [ngClass]="{'valid': passwordHasUppercase, 'invalid': !passwordHasUppercase}">
            <mat-icon *ngIf="passwordHasUppercase">check</mat-icon>
            <mat-icon *ngIf="!passwordHasUppercase">close</mat-icon>
            Must contain at least one uppercase letter.
          </div>
          <div [ngClass]="{'valid': passwordHasNumber, 'invalid': !passwordHasNumber}">
            <mat-icon *ngIf="passwordHasNumber">check</mat-icon>
            <mat-icon *ngIf="!passwordHasNumber">close</mat-icon>
            Must contain at least one number.
          </div>
          <div [ngClass]="{'valid': passwordHasSpecialChar, 'invalid': !passwordHasSpecialChar}">
            <mat-icon *ngIf="passwordHasSpecialChar">check</mat-icon>
            <mat-icon *ngIf="!passwordHasSpecialChar">close</mat-icon>
            Must contain at least one special character.
          </div>
          <div [ngClass]="{'valid': passwordMinLength, 'invalid': !passwordMinLength}">
            <mat-icon *ngIf="passwordMinLength">check</mat-icon>
            <mat-icon *ngIf="!passwordMinLength">close</mat-icon>
            Must be at least 6 characters long.
          </div>
        </div>

        <button mat-raised-button color="primary" class="sign-up-button" type="submit" [disabled]="!resetPasswordForm.valid">
          <div *ngIf="!loading">
            Reset Password
          </div>
          <loader [loading]="loading" [ngClass]="{'loader': loading}"></loader>
        </button>
      </form>
    </mat-card>
  </div>
</div>
