<div class="login-background">
  <div class="login-container">
    <mat-card class="login-card">
      <h2 class="welcome-back">Register</h2>
      <p class="enter-details">Please fill in the details to create an account</p>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Enter your username" formControlName="username" />
          <mat-error *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
            Email is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter your email" formControlName="email" />
          <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
            Email is required.
          </mat-error>
          <mat-error *ngIf="registerForm.get('email')?.hasError('email')">
            Invalid email format.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field" style="margin-bottom: 0px;padding-bottom: 0px;">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Enter your password" formControlName="password" />
        </mat-form-field>

        <div class="validation-messages">
          <div [ngClass]="{'valid': passwordHasLowercase, 'invalid': !passwordHasLowercase}">
            <mat-icon *ngIf="passwordHasLowercase">check</mat-icon>
            <mat-icon *ngIf="!passwordHasLowercase">close</mat-icon>
            Must contain at least one lowercase letter.
          </div>
          <div [ngClass]="{'valid': passwordHasUppercase, 'invalid': !passwordHasUppercase}">
            <mat-icon *ngIf="passwordHasUppercase">check</mat-icon>
            <mat-icon *ngIf="!passwordHasUppercase">close</mat-icon>
            Must contain at least one uppercase letter.
          </div>
          <div [ngClass]="{'valid': passwordHasNumber, 'invalid': !passwordHasNumber}">
            <mat-icon *ngIf="passwordHasNumber">check</mat-icon>
            <mat-icon *ngIf="!passwordHasNumber">close</mat-icon>
            Must contain at least one number.
          </div>
          <div [ngClass]="{'valid': passwordHasSpecialChar, 'invalid': !passwordHasSpecialChar}">
            <mat-icon *ngIf="passwordHasSpecialChar">check</mat-icon>
            <mat-icon *ngIf="!passwordHasSpecialChar">close</mat-icon>
            Must contain at least one special character.
          </div>
          <div [ngClass]="{'valid': passwordMinLength, 'invalid': !passwordMinLength}">
            <mat-icon *ngIf="passwordMinLength">check</mat-icon>
            <mat-icon *ngIf="!passwordMinLength">close</mat-icon>
            Must be at least 6 characters long.
          </div>
        </div>

        <button mat-raised-button color="primary" class="sign-up-button" type="submit" [disabled]="!registerForm.valid">
          <div *ngIf="!loading">
            Sign up
          </div>
          <loader [loading]="loading" [ngClass]="{'loader': loading}"></loader>
        </button>
      </form>
    </mat-card>

    <p class="sign-up">
      Go Back to Sign in? <a routerLink="/login">Sign in</a>
    </p>
  </div>
</div>


