.main-container {
  display: flex;
  height: calc(100vh - 54px); 
  overflow: hidden;
}

.projects-container {
  flex: 1; 
  padding: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-sizing: border-box;
  overflow-y: auto; 
  height: calc(100vh - 54px);
}

.sidebar {
  flex: 1; 
  padding: 16px;
  box-sizing: border-box;
  background-color: #f4f4f4; 
  overflow-y: auto; 
}
.no-projects {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 1.2em;
}
img{
  height: 30vh;
}