<div style="display: flex;  justify-content: space-between; align-items: center;">
  <h2>{{ isEditMode ? 'Edit Project' : 'Add New Project' }}</h2>
  <mat-icon style="margin: 0 10px ;color: red;" (click)="close()">close</mat-icon>
</div>
<div class="form-container">
  <div *ngIf="statusLoading || isLoading" class="loading-overlay">
    <div class="loading-spinner-container">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  </div>
  <form [formGroup]="projectForm" style="max-height: 70vh; overflow-y: auto; padding-right: 10px;">
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Account</mat-label>
      <input matInput formControlName="account" disabled>
    </mat-form-field>
  
      <mat-form-field appearance="outline" [ngStyle]="{ 'display': !isEditMode ? 'none' : 'inline-block' }" style="width: 100%;">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" placeholder="ClientName | WebOrAccountName | ProjectType | ContractType">
        <mat-error *ngIf="projectForm.get('title')?.invalid && projectForm.get('title')?.touched">
          Title is required
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline" [ngStyle]="{ 'display': isEditMode ? 'none' : 'inline-block' }" style="margin-right: 10px; width: 24%;">
        <mat-label>ClientName</mat-label>
        <input matInput formControlName="clientName" placeholder="ClientName">
        <mat-error *ngIf="projectForm.get('clientName')?.invalid && projectForm.get('clientName')?.touched">
          ClientName is required
        </mat-error>
      </mat-form-field>
    
  
      <mat-form-field appearance="outline" [ngStyle]="{ 'display': isEditMode ? 'none' : 'inline-block' }" style="margin-right: 10px; width: 24%;">
        <mat-label>WebOrAccountName</mat-label>
        <input matInput formControlName="webOrAccountName" placeholder="WebOrAccountName">
        <mat-error *ngIf="projectForm.get('webOrAccountName')?.invalid && projectForm.get('webOrAccountName')?.touched">
          WebOrAccountName is required
        </mat-error>
      </mat-form-field>
    
  
      <mat-form-field appearance="outline" [ngStyle]="{ 'display': isEditMode ? 'none' : 'inline-block' }" style="margin-right: 10px; width: 24.5%;">
        <mat-label>Project Type</mat-label>
        <mat-select formControlName="projectType">
          <mat-option *ngFor="let type of projectTypeOptions" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="projectForm.get('projectType')?.invalid && projectForm.get('projectType')?.touched">
          ProjectType is required
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="outline" [ngStyle]="{ 'display': isEditMode ? 'none' : 'inline-block' }" style="width: 24.5%;">
        <mat-label>Contract Type</mat-label>
        <mat-select formControlName="contractType">
          <mat-option *ngFor="let contract of contractTypeOptions" [value]="contract">
            {{ contract }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="projectForm.get('contractType')?.invalid && projectForm.get('contractType')?.touched">
          ContractType is required
        </mat-error>
      </mat-form-field>
      
  
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" [disabled]="statusFieldDisabled"> 
        <mat-option *ngFor="let status of statusOptions" [value]="status.id">
          {{ status.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="projectForm.get('status')?.invalid && projectForm.get('status')?.touched">
        Status is required
      </mat-error>
    </mat-form-field>

    <form class="alias-form" #aliasForm="ngForm">
      <mat-form-field appearance="outline" class="alias-form-field">
        <mat-label>Select Template</mat-label>
        <mat-select [(ngModel)]="aliasSelection.alias" name="alias">
          <mat-option *ngFor="let alias of aliases" [value]="alias?.templateString">
            {{ alias?.alias }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field appearance="outline" class="type-form-field">
        <mat-label>Method</mat-label>
        <mat-select [(ngModel)]="aliasSelection.type" name="type">
          <mat-option *ngFor="let type of types" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
      <button 
        mat-mini-fab 
        color="primary" 
        type="button" 
        (click)="onTemplateSelect()" 
        [disabled]="!aliasSelection.alias || !aliasSelection.type"> 
        <mat-icon>send</mat-icon>
      </button>
    </form>
  
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" rows="5" placeholder="Link:&#10;Description:" class="custom-description"></textarea>
      <mat-error *ngIf="projectForm.get('description')?.invalid && projectForm.get('description')?.touched">
        Description is required
      </mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Date</mat-label>
      <input matInput formControlName="date" disabled>
    </mat-form-field>
  </form>
  <div class="actions">
    <button *ngIf="!loading" mat-raised-button color="primary" (click)="addProject()" [disabled]="projectForm.invalid" style="margin-right: 10px;">
      {{ isEditMode ? 'Update' : 'Submit' }}
    </button>
    <loader [loading]="loading" [ngClass]="{'loader': loading}"></loader>
  </div>
</div>
