h2{
  margin: 0;
}
.actions{
  display: flex;
}
.loader{
  padding-left: 30px;
  padding-right: 30px;
}
.custom-description {
  white-space: pre-wrap;
}
mat-icon{
  cursor: pointer;
}
.form-container {
  position: relative;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7); 
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner-container {
  text-align: center;
  opacity: 1;
}

.alias-form{
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 5px;
}
.alias-form-field{
  width: 58%;
  margin: 5px 5px;
}
.type-form-field{
  width: 30%;
  margin: 5px 5px;
}

:host ::ng-deep .alias-form-field .mat-form-field-wrapper,
:host ::ng-deep .type-form-field .mat-form-field-wrapper {
  padding-bottom: 0;
  padding-top: 0;
}