h1{
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin: 0px 5px!important;
}
button{
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
}
.card-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card{
  font-family: "Poppins", sans-serif;
  width: 98%; 
  border: 1px solid #ddd; 
  border-radius: 4px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px !important; 
}
mat-card-title{
  font-weight: bold;
  font-size: 0.85rem!important;
}
.mat-card-header .mat-card-title{
  margin-bottom: 0px!important;
}


.mat-card-content>:last-child:not(.mat-card-footer){
  margin-left: 16px;
  margin-right: 16px;
}

.icon{
  display: flex;
  justify-content: space-between;
  width: 100% !important;
}
mat-icon:hover{
  color: #3f51b5;
}
.delete:hover{
  color: #E4003A;
}
mat-icon{
  float: right;
  margin: 0px 5px;
  cursor: pointer;
}
.mat-card-header-text{
  padding-left: 10px!important;
}
.customeText{
  white-space: pre-wrap;
}

.loader{
  padding-left: 30px;
  padding-right: 30px;
}

.card-container {
  position: relative;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7); 
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner-container {
  text-align: center;
  opacity: 1;
}