<div class="login-background">
  <div class="login-container">
    <mat-card class="login-card">
      <h2 class="welcome-back">Welcome back</h2>
      <p class="enter-details">Please enter your details</p>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Username Or Email Address</mat-label>
          <input matInput placeholder="Enter your username or email" formControlName="username" />
          <mat-error *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
            Username or Email is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Enter your password" formControlName="password" />
          <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            Password is required
          </mat-error>
        </mat-form-field>
        
        <div class="extra-options">
          <mat-checkbox class="remember-me" formControlName = "rememberMe">Remember for a week</mat-checkbox>
          <a class="forgot-password" routerLink="/forget-password">Forgot password</a>
        </div>

        <button mat-raised-button color="primary" class="sign-up-button" type="submit" [disabled]="!loginForm.valid">
          <div *ngIf="!loading">
            Sign in
          </div>
          <loader [loading]="loading" [ngClass]="{'loader': loading}"></loader>
        </button>
      </form>
    </mat-card>

    <p class="sign-up">
      Don't have an account? <a routerLink="/register">Sign up</a>
    </p>
  </div>
</div>


