<div class="login-background">
  <div class="login-container">
    <mat-card class="forget-password-card">
      <h2>Forget Password</h2>
      <p class="enter-details">Enter your email to receive a reset link</p>
      
      <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Email Address</mat-label>
          <input matInput type="email" placeholder="Enter your email" formControlName="email" />
          <mat-error *ngIf="forgetPasswordForm.get('email')?.invalid && forgetPasswordForm.get('email')?.touched">
            A valid email is required
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" class="submit-button" type="submit" [disabled]="!forgetPasswordForm.valid">
          <div *ngIf="!loading">
            Send Reset Link
          </div>
          <div *ngIf="loading" class="loader">
            <mat-spinner diameter="24"></mat-spinner>
          </div>
        </button>
      </form>
    </mat-card>
  </div>
</div>
